body{
  width: 100%;
}
.row {
  margin-right: 0px;
  margin-left: -15px;
}
input:invalid:not(:focus) {
  outline: 1px solid #f00;
}
ul.nav-tabs li {
  display: inline;
  list-style-type: none;
 
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border-bottom: solid #fb4d0a;
}
ul.nav-tabs {
  background-color: #ccc;
  padding: 0;
  margin: 0;
}
ul.nav-tabs li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 10px;
}
.text-align-center{
  text-align: center;
  padding: 5%;
}
button, input, optgroup, select, textarea {
  margin-top: 2px;
  margin-bottom:2px;
}  
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}